{% extends 'base.auth.html.twig' %}

{% block body %}

<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
            <small>Since 2011</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0 credential-title">Account {{ app.user.username }}</h6>
        <a href="/add" class="btn btn-primary add-credential-button">Dodaj nowy wpis!</a>
        <div class="credential_container">
            <div class="credential_box credential_head">
                <div class="credential_data_block">
                    <span>
                        Email:
                    </span>
                </div>
                <div class="credential_data_block">
                    <span>
                        Password:
                    </span>
                </div>
                <div class="credential_data_block">
                    <span>
                        Url Address:
                    </span>
                </div>
                <div class="credential_data_block">
                    <span>
                        Description:
                    </span>
                </div>
                <div class="credential_data_block">
                    <span>
                        Usuń
                    </span>
                </div>
            </div>
            {% for credential in credentials %}
                <div class="credential_box">
                    <div class="credential_data_block">
                        <span>
                            {{ credential.email }}
                        </span>
                    </div>
                    <div class="credential_data_block">
                        <div class="credential_password_data">
                            <span class="credential_password">
                                {{ credential.password }}
                            </span>
                        </div>
                        <button type="button" class="credential_button btn btn-primary" data-show="hide">Pokaż/Ukryj</button>
                    </div>
                    <div class="credential_data_block">
                        <span>
                            {{ credential.url_adress }}
                        </span>
                    </div>
                    <div class="credential_data_block">
                        <span>
                            {{ credential.description }}
                        </span>
                    </div>
                    <div class="credential_data_block">
                        <form method="post" action="/usun/{{ credential.id }}">
                            <button type="submit" class="btn btn-primary">usuń wpis</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
{% endblock %}